@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lufga";
  src: url(/fonts/LufgaRegular.ttf);
}

.Lufga {
  font-family: "Lufga", sans-serif;
}

@layer components {
  .underline-animation::after {
    content: "";
    position: absolute;
    background-color: #000;
    height: 15px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: width 0.3s;
  }

  .underline-animation:hover::after {
    width: 100%;
  }
}

html {
  font-family: "Lufga", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #e9e7e6;
  overflow-x: hidden;
}

a {
  all: unset;
  cursor: pointer;
}

.container {
  display: grid;
  padding: 3em 5em 3em 5em;
  grid-template-rows: auto 1fr;
  gap: 3em;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nav {
  display: grid;
  grid-template-columns: auto 0.25fr 1fr 0.25fr auto auto;
  gap: 1em;
}

.label {
  margin: 0;
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 0;
}
.logo {
  width: 142px;
  height: 50px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #141622;
  color: white;
  height: 52px;
  border-radius: 30px;
  padding: 0em 2em;
  white-space: pre;
}

.button.gray {
  background: #ccc;
  color: #141622;
}

@media (max-width: 1200px) {
  .container {
    padding: 2em 4em 2em 4em;
    gap: 2em;
  }
  .button {
    height: 48px;
    border-radius: 30px;
    padding: 0em 2em;
  }
  .label {
    font-size: 2em;
  }
}

@media (max-width: 800px) {
  .caption::after {
    content: "OSS dev collective  for the creative space";
  }
  .label::after {
    content: "PMNDRS";
  }
  .container {
    padding: 2em 3em 2em 3em;
    gap: 2em;
  }
  .button {
    height: 36px;
    border-radius: 30px;
    padding: 0em 1.25em;
    font-size: 0.7em;
  }
  .label {
    font-size: 1em;
  }
}

@media (max-width: 600px) {
  .nav {
    gap: 0.5em;
  }

  .container {
    padding: 2em 2em 2em 2em;
    gap: 2em;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-20px); /* Start position */
  }
  to {
    transform: translateX(0); /* End position */
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Start position */
  }
  to {
    transform: rotate(90deg); /* End position */
  }
}
@keyframes rotateBack {
  from {
    transform: rotate(90deg); /* Start position */
  }
  to {
    transform: rotate(0deg); /* End position */
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(20px); /* Start position */
  }
  to {
    transform: translateX(0); /* End position */
  }
}

@keyframes zoomIn {
  from {
    transform: scale(1); /* Start position */
  }
  to {
    transform: scale(1.1); /* End position */
  }
}

@keyframes zoomInAndColourChange {
  from {
    transform: scale(1); /* Start position */
    color: #fff; /* Start colour */
  }
  to {
    transform: scale(85); /* End position */
    color: #f3521c; /* End colour */
  }
}
@keyframes zoomOutAndColourChange {
  from {
    transform: scale(60); /* Start position */
    color: #f3521c; /* Start colour */
  }
  to {
    transform: scale(1); /* End position */
    color: #fff; /* End colour */
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes textMoveRight {
  from {
    transform: translateX(0px); /* Start position */
  }
  to {
    transform: translateX(20px); /* End position */
  }
}
.animate-text-move-right {
  animation: textMoveRight 0.5s ease forwards; /* Apply animation */
}
.animate-zoom-in {
  animation: zoomIn 0.5s ease forwards; /* Apply animation */
}
.animate-slide-right {
  animation: slideRight 0.5s ease forwards; /* Apply animation */
}

.animate-rotate {
  animation: rotate 0.5s ease forwards; /* Apply animation */
}
.animate-rotate-back {
  animation: rotateBack 0.5s ease forwards; /* Apply animation */
}

.animate-slide-left {
  animation: slideLeft 0.5s ease forwards; /* Apply animation */
}
.animate-zoom-in-and-colour-change {
  animation: zoomInAndColourChange 1s ease forwards; /* Apply animation */
}
.animate-zoom-our-and-colour-change {
  animation: zoomOutAndColourChange 0.5s ease forwards; /* Apply animation */
}
.cardImage {
  overflow: hidden; /* Hide any overflow content */
}

.cardImage img {
  transition: transform 0.5s ease-in-out; /* Define the transition */
}

.cardImage:hover img {
  animation: bounce 0.5s ease;
  transform: scale(1.1); /* Scale up the image when hovered */
}

/* loading screen */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  pointer-events: none;
}

.counter {
  position: fixed;
  left: 50px;
  bottom: 50px;
  display: flex;
  height: 100px;
  font-size: 100px;
  line-height: 110px;
  clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100px);
  font-weight: 400;
}

.counter-1,
.counter-2,
.counter-3 {
  position: relative;
  top: -15px;
}

.num1offset1 {
  position: relative;
  right: -25px;
}
.num1offset2 {
  position: relative;
  right: -10px;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 50px;
  transform: translate(-50%, -50%);
  display: flex;
  background: rgb(80, 80, 80);
}

.loader-1 {
  position: relative;
  background: #fff;
  width: 100px;
}

.loader-2 {
  position: relative;
  background: #fff;
  width: 100px;
}
.loader-3 {
  position: relative;
  background: #fff;
  width: 100px;
}
.bar {
  height: 50px;
}

/* line draw */

svg.squiggle {
  width: 100vw;
  position: absolute;
  top: 118vh;
  left: 0;
  z-index: -1;
}

svg.squigglemobile {
  width: 100vw;
  position: absolute;
  top: 118vh;
  left: 0;
  z-index: -1;
}

svg.squiggleSeconed {
  width: 100vw;
  position: absolute;
  top: 490vh;
  right: 0;
  left: 12vw;
  z-index: -1;
}

#set-height {
  display: block;
}

#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the footer covers the full height of the viewport */
}

footer > div:nth-child(1) {
  flex-grow: 1; /* Makes the main content div take up remaining space */
}
